<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>

<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<h1>Add a pharmacy</h1>
<div>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="name" placeholder="Enter a name">
        <input type="text" name="url" placeholder="Enter an URL">
        <button type="submit">Add</button>
    </form>
</div>

<br>

<h1>List of pharmacies</h1>
<form method="post" action="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <input type="text" name="filter">
    <button type="submit">Find</button>
</form>
{{#pharmacies}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{url}}</i>
    </div>
{{/pharmacies}}
</body>
</html>